#game-screen {
	font-family: 'Indie Flower', cursive;
	text-align: center;
	font-style: bold;
	color: black;
	font-size: 24px;
	margin-top: 14px;
	margin-bottom: 70px;
	font-weight: bold;
	border-style: groove;
	border-width: 6px;
	background-color: #aecc4b;
	animation-name: bounceInThree;
	animation-duration: 6s;
}
#hangman {
	color: white;
	font-size: 64px;
	color: #d7ceb2;
	text-shadow: 3px 3px 0px #2c2e38, 5px 5px 0px #5c5f72;
	font-size: 90px;
	font-weight: bold;
	font-family: 'Indie Flower', cursive;
	letter-spacing: 10px;
	margin-left: 150px;
	animation-name: bounceIn;
	animation-duration: 3s;
}
#start {
	animation-name: bounceInFour;
	animation-duration: 9s;
}
#monkey {
	color: black;
	font: 36px;
	font-family: 'Indie Flower', cursive;
	margin-left: 355px;
	animation-name: bounceInTwo;
	animation-duration: 4s;
}
#header {
	margin-bottom: 100px;
	text-shadow:
	color: white; 
}
#info-screen {
	font-family: 'Indie Flower', cursive, monospace; 
	text-align: center;
	font-style: bold;
	color: black;
	font-size: 20px;
	margin-top:14px;
	animation-name: bounceInThree;
	animation-duration: 6s;
}
#board {
	letter-spacing: 25px;
	border-style: groove;
	border-width: 0px;
	border-bottom-width: 4px;
}
#wrapper {
	background-image: url(../images/monkey-br.png);
	background-size: contain;
	height: 700px;
	width: 1100px;
}
#footer {
	font-size: 16px;
	text-align: center;
	height: 50px;
	border-style: solid;
	border-width: 0px;
	border-top-width: 6px;
	border-bottom-width: 6px;
	margin-top: 50px;
	background-color: #d7ceb2;
}
#copyright {
		text-shadow: 3px 3px 0px #2c2e38, 5px 5px 0px #5c5f72;
		color: white;
}
#photo {
	height: 180px;
	border-style: solid;
	border-width: 2px;
}
#kellan-photo {
	height: 200px;
	border-style: solid;
	border-width: 3px;
}
#used-letters {
	letter-spacing: 5px;
}
@keyframes bounceIn {
  0% {
    transform: scale(0.1) rotate(0deg);
    opacity: 0;
  }
  60% {
    transform: scale(1.2) rotate(360deg);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
@keyframes bounceInTwo {
	0% {
		transform: scale(0.001);
		opacity: 0;
	}
	75% {
		transform: scale(0.1);
		opacity: 0;
	}
	90% {
		transform: scale(1.2);
		opacity: 1;
	}
	100% {
		transform: scale(1);
	}
}
@keyframes bounceInThree {
	0% {
		transform: scale(0.001);
		opacity: 0;
	}
	66% {
		transform: scale(0.1);
		opacity: 0;
	}
	86% {
		transform: scale(1.2);
		opacity: 1;
	}
	100% {
		transform: scale(1);
	}
}
@keyframes bounceInFour {
	0% {
		transform: scale(0.001);
		opacity: 0;
	}
	66% {
		transform: scale(0.1);
		opacity: 0;
	}
	86% {
		transform: scale(1.7);
		opacity: 1;
	}
	100% {
		transform: scale(1);
	}
}
